x64/Debug/
OpenCVTemplate.VC.db
OpenCVTemplate.VC.VC.opendb
CamCalib.txt
outputImg.jpg
outputImgAxis.jpg
outputImgAxisGoodCube1.jpg
outputImgAxisGoodCube2.jpg
outputImgAxisGoodCube3.jpg
outputImgAxisGoodCube4.jpg
outputImgAxisGoodCube5.jpg
VoxelReconstruction/x64/Release/
VoxelReconstruction/x64/
VoxelReconstruction/data/cam3/video.avi
VoxelReconstruction/data/cam3/intrinsics.avi
VoxelReconstruction/data/cam4/background.avi
*.avi
VoxelReconstruction/VoxelReconstruction.VC.VC.opendb
VoxelReconstruction/VoxelReconstruction.VC.db
