x64/Debug/
OpenCVTemplate.VC.db
OpenCVTemplate.VC.VC.opendb
CamCalib.txt
outputImg.jpg
outputImgAxis.jpg
outputImgAxisGoodCube1.jpg
outputImgAxisGoodCube2.jpg
outputImgAxisGoodCube3.jpg
outputImgAxisGoodCube4.jpg
outputImgAxisGoodCube5.jpg
